
.feed {
    width: 950px;
    height: auto;
    margin: 0 auto;
}

#preview {
    width: 358px;
    height: auto;
    float: left;
    display: inline;
}

#intro_detail {
    width: 550px;
    display: inline;
    float: right;
}

#tendChart {
    width: 550px;
    display: inline;
    float: left;
}

.textarea_comment {
    padding: 10px;
    height: 60px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    width: 608px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    color: #ccc;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.div-inline{ display:inline}


a:link {
    color: #000000;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: underline;
    color: #000000;
}
a:active {
    text-decoration: none;
    color: #000000;
}